<h1 class="page-header"><%= fa_icon 'bar-chart' %> Enter Event Data</h1>
<%= form_for([@event, @event_data], class: "form-group") do |f| %>
    <p>
    <div>
        <%= render 'numberfield_form', attribute_name: :duration, units: 'Minutes', ff: f %>
        <%= render 'numberfield_form', attribute_name: :distance, units: 'Meters', ff: f %>
        <%= render 'numberfield_form', attribute_name: :elevation_gain, units: 'Meters', ff: f %>
        <%= render 'textfield_form', attribute_name: :party_1_name, ff: f %>
        <%= render 'textfield_form', attribute_name: :party_2_name, ff: f %>
        <%= render 'textfield_form', attribute_name: :winner_name, ff: f %>
        <%= render 'numberfield_form', attribute_name: :rounds, units: 'Rounds', ff: f %>
        <%= render 'numberfield_form', attribute_name: :score_1, units: 'Points', ff: f %>
        <%= render 'numberfield_form', attribute_name: :score_2, units: 'Points', ff: f %>
        <%= render 'numberfield_form', attribute_name: :party_1_red_cards, units: '', ff: f %>
        <%= render 'numberfield_form', attribute_name: :party_2_red_cards, units: '', ff: f %>
        <%= render 'numberfield_form', attribute_name: :party_1_yellow_cards, units: '', ff: f %>
        <%= render 'numberfield_form', attribute_name: :party_2_yellow_cards, units: '', ff: f %>
        <%= render 'numberfield_form', attribute_name: :party_1_penalties, units: '', ff: f %>
        <%= render 'numberfield_form', attribute_name: :party_2_penalties, units: '', ff: f %>

    </div>
    </p>
    <p>
    <div>
        <%= f.fields_for :document do |ff| %>
            GPS Dump
            <%= ff.file_field :file, accept: 'application/vnd.google-earth.kml+xml' %>
        <% end %>
    </div>
    <p class="help-block">At this moment, only .kml files can be uploaded.</p>
    </p>
    <div style="float: left; width: auto;">
        <div><%= f.submit "Save", class: "btn btn-success" %></div>
    </div>
<% end %>
<div style="float: right; width: auto;">
    <%= button_to 'Discard', @event, method: :get, class: "btn btn-warning" %>
</div>
