<p>
    <strong>From:</strong>
    <%= spoodle_date.from %>
    <br/>
    <strong>To:</strong>
    <%= spoodle_date.to %>
    <br/>
    <strong>Votes:</strong>
    <%= spoodle_date.votes %>
    <br/>
    <strong>Users:</strong>
    <% spoodle_date.availabilities.each do |availability| %>
        <%= availability.user.username %>
        <%= availability.weight %><br/>
    <% end %>
</p>

<p>
    <% unless already_assigned? spoodle_date %>
        <%= form_tag assign_event_spoodle_date_path(@event, spoodle_date), method: :put do %>
            <%= label_tag :weight %>
            <%= number_field_tag :weight, nil, :in => 0.1..1, :step => 0.1 %>
            <%= submit_tag 'Assign to SpoodleDate' %>
        <% end %>
    <% else %>
        <%= link_to 'Cancel SpoodleDate', cancel_event_spoodle_date_path(@event, spoodle_date), method: :put %>
    <% end %>
</p>

<p>
    <%= link_to 'Destroy SpoodleDate', event_spoodle_date_path(@event, spoodle_date), method: :delete, data: { confirm: 'Are you sure?' } %>
</p>