<div class="col-lg-4 col-md-6">
    <div class="panel panel-default spoodle-date">
        <div class="panel-heading">
            <p class="no-margin"><%= fa_icon 'calendar' %> <%= spoodle_date.from.strftime("%A, %d. %B %Y") %>
            <small><% if @event.belongs_to?(current_user) %>
                    <%= link_to "Delete", event_spoodle_date_path(@event, spoodle_date), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary btn-xs no-margin" %>
                <% end %></small></p>
        </div>
        <div class="panel-body">
            <p class="lead">
                <%= fa_icon 'clock-o' %> <%= spoodle_date.from.strftime("%R") %> <span class="small"> to </span>
                <% unless spoodle_date.from.to_date === spoodle_date.to.to_date %>
                    <%= spoodle_date.to.strftime("%d. %b %y") %>
                <% end %>
                <%= spoodle_date.to.strftime("%R") %>
            </p>
            <p>
                <strong>Current Total:</strong>
                <%= spoodle_date.votes %>
                <br/>
                <strong>Users:</strong>
                <% spoodle_date.availabilities.each do |availability| %>
                    <%= availability.user.username %>(<%= availability.weight %>)
                <% end %>
            </p>
            <p>
                <% unless already_assigned? spoodle_date %>
                    <%= form_tag assign_event_spoodle_date_path(@event, spoodle_date), method: :put do %>
                        <div class="form-group">
                            <div class="input-group">
                                <%= number_field_tag :weight, nil, :placeholder => "weight", :in => 0.1..1, :step => 0.1, class: "form-control input-sm" %>
                                <span class="input-group-btn">
                                    <%= submit_tag 'Assign', :name => nil, class: "btn btn-sm btn-default" %>
                                </span>
                            </div>
                        </div>
                    <% end %>
                <% else %>
                <p class="no-margin">You assigned <b><%= spoodle_date.availability(current_user).weight %></b> <%= link_to 'Cancel', cancel_event_spoodle_date_path(@event, spoodle_date), method: :put, class: "btn btn-warning btn-xs no-margin" %></p>
                <% end %>
            </p>
        </div>
    </div>
</div>


