<div class="panel panel-default">
    <div class="panel-heading media">
        <a class="media-left" href="<%= event_path(event) %>">
            <img class="media-object default <%= event.sport.name.downcase %> hidden-xs hidden-sm"/>
            <img class="default64 <%= event.sport.name.downcase %>64 visible-xs visible-sm"/>
        </a>
        <div class="media-body">
            <h4><%= link_to event.title, event_path(event) %></h4>
            <p>
                <% if event.is_deadline_over? %>
                    <% if event.is_passed? %>
                        <%= fa_icon 'calendar fw'%> <%= event.definitive_date.from.strftime(" %a, %d. %b %Y") %>
                    <% else %>
                        <%= fa_icon 'calendar fw'%> <%= event.definitive_date.from.strftime(" %a, %d. %b %Y at %R") %>
                    <% end %>
                <% else %>
                    <%= fa_icon 'calendar fw'%> <%= event.spoodle_dates.count %> proposed Date<%= event.spoodle_dates.count==1 ? "" : "s"%>
                <% end %>
            </p>
            <p><%= event.description[0..400] %></p>
            <ul class="list-inline list-unstyled">
                <% if event.is_deadline_over? %>
                    <% if event.is_passed? %>
                        <li><%= fa_icon 'folder fw' %> Passed</li>
                    <% else %>
                        <li><%= fa_icon 'calendar fw' %> Upcoming</li>
                    <% end %>
                <% else %>
                    <li><%= fa_icon 'folder fw' %> Pending</li>
                <% end %>
                |
                <li>
                    <%= fa_icon 'map-marker fw' %> <%= event.location[0..40] %>
                </li>
                |
                <li>
                    <%= event.sport.name %>
                </li>
                |
                <li>
                    <%= fa_icon 'user fw' %> by <%= link_to event.owner, user_path(event.owner) %>
                </li>
                |
                <li>
                    <%= fa_icon 'users fw' %>
                    <% if event.is_deadline_over? %>
                        <%= event.participants.count %> Participant<%= event.participants.count==1 ? "" : "s"%>
                    <% else %>
                        <%= event.invitations.count %> User<%= event.invitations.count==1 ? "" : "s"%> invited
                    <% end %>
                </li>
            </ul>
        </div>
    </div>
</div>