<h1 class="page-header"><%= fa_icon 'user' %> My Events</h1>
<% flash.each do |name, msg| %>
    <div class="alert alert-dismissable alert-info">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <%= msg %>
    </div>
<% end %>
<% if @my_events %>
    <%= form_tag events_path, method: :get do %>
        <div class="form-group">
            <div class="input-group">
                <%= text_field_tag :search, params[:search], placeholder: "Search Events", class: "form-control" %>
                <span class="input-group-btn">
                    <%= button_tag( :class => "btn btn-default") do %>
                        <i class="fa fa-search"></i>
                    <% end %>
                </span>
            </div>
        </div>
    <% end %>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Sport</th>
                    <th>Organizer</th>
                    <th>Dates</th>
                    <th>Invited</th>
                </tr>
            </thead>
            <tbody>
                <% @my_events.each do |event| %>
                    <tr>
                        <td><%= link_to event.title, event_path(event) %></td>
                        <td><%= @sports[event.sport_id]['name'] %></td>
                        <td><%= event.owner.username %></td>
                        <td>
                            <% event.spoodle_dates.each do |date| %>
                                <%= fa_icon 'calendar'%>
                                <%= date.from.strftime("%a, %d.%m.%y: %R") %>
                                <br>
                            <% end %>
                        </td>
                        <td><%= event.invitations.map{ |invitation| invitation.user.username }.join(',<br/>').html_safe %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
<% end %>
<%= button_to "New Event", new_event_path, :method => "get", class: "btn btn-success" %>