<h1 class="page-header"><%= fa_icon 'folder' %> Passed Events</h1>
<% flash.each do |name, msg| %>
    <div class="alert alert-dismissable alert-info">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <%= msg %>
    </div>
<% end %>
<% if @passed_events %>
    <%= form_tag passed_events_path, method: :get do %>
        <div class="form-group">
            <div class="input-group">
                <%= text_field_tag :search, params[:search], placeholder: "Filter", class: "form-control" %>
                <span class="input-group-btn">
                    <%= button_tag( :class => "btn btn-default") do %>
                        <i class="fa fa-search"></i>
                    <% end %>
                </span>
            </div>
        </div>
    <% end %>
    <%= render @passed_events %>
<% end %>