<h1>Event#show</h1>
<p>Look at that damn nice event!</p>

<p>
    <%= link_to 'Invite a new user', new_event_invitation_path(@event) %>
</p>

<p>
    <strong>Title:</strong><br/>
    <%= @event.title %>
</p>

<p>
    <strong>Description:</strong><br/>
    <%= @event.description %>
</p>

<p>
    <strong>Sport:</strong>
    <%= @event.sport.name %>
</p>


<h2>Dates</h2>
<%= render @event.spoodle_dates %>

<h2>Invitations</h2>
<%= render @event.invitations %>

<%= link_to 'Destroy Event', event_path(@event), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Edit Event', edit_event_path(@event) %> |
<%= link_to 'Back to Events', events_path %>