<h1 class="page-header"><%= @event.title %></h1>
<% flash.each do |name, msg| %>
    <div class="alert alert-dismissable alert-info">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <%= msg %>
    </div>
<% end %>
<div class="media">
    <a class="media-left">
        <img class="default <%= @sport.downcase %>"/>
    </a>
    <div class="media-body">
        <p>
            <%= @sport %> event by <%= link_to @event.owner.username, @event.owner %>.
            <%= @event.is_deadline_over? ? 'The deadline has passed.' : "You can assign to the proposed dates until "+@event.deadline.strftime("%A, %d. %B %Y at %R.") %>
        </p>
        <strong>Description: </strong><%= @event.description %>
    </div>
</div>
<hr>
<h3>Invited Users</h3>

<%= render @event.invitations %>

<% unless @event.is_deadline_over? %>
    <%= link_to new_event_invitation_path(@event) do %>
        <%= image_tag("plus.png") %>
    <% end %>
<% end %>
<hr>
<h3>Proposed Dates</h3>
<div class="row">
    <%= render @event.spoodle_dates %>
</div>
<hr>
<% if @event.belongs_to?(current_user) %>
    <div style="float: left; width: auto;">
         <%= button_to 'Edit Event', edit_event_path(@event), method: :get, class: "btn btn-info" %>
    </div>
    <div style="float: left; width: auto;">
        <p>&nbsp;</p>
    </div>
    <div style="float: left; width: auto;">
        <%= button_to 'Delete Event', event_path(@event), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
    </div>
    <br/>
    <br/>
    <br/>
<% end %>

