<h1 class="page-header"><%= @event.title %></h1>
<% flash.each do |name, msg| %>
    <div class="alert alert-dismissable alert-info">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <%= msg %>
    </div>
<% end %>
<h3>Details</h3>
<p>
    <strong>Description: </strong><%= @event.description %>
</p>
<p>
    <strong>Sport: </strong><%= @sport %>
</p>
<hr>
<h3>Invited</h3>
<%= render @event.invitations %>
<p>
    <%= link_to 'Invite someone', new_event_invitation_path(@event) %>
</p>
<hr>
<h3>Dates</h3>
<%= render @event.spoodle_dates %>
<hr>
<%= link_to 'Destroy Event', event_path(@event), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Edit Event', edit_event_path(@event) %> |
<%= link_to 'Back to Events', events_path %>