<h1>Event#show</h1>
<p>Look at that damn nice event!</p>

<% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
<% end -%>

<p>
    <%= link_to 'Invite a new user', new_event_invitation_path(@event) %>
</p>

<p>
    <strong>Title:</strong>
    <%= @event.title %>
</p>

<p>
    <strong>Description:</strong>
    <%= @event.description %>
</p>

<h2>Dates</h2>
<%= render @event.spoodle_dates %>

<h2>Invitations</h2>
<%= render @event.invitations %>

<%= link_to 'Edit Event', edit_event_path(@event) %> |
<%= link_to 'Back to Events', events_path %>