<h1 class="page-header"><%= @event.title %></h1>
<% flash.each do |name, msg| %>
    <div class="alert alert-dismissable alert-info">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <%= msg %>
    </div>
<% end %>

<a class="media-left hidden-xs">
    <img class="media-object default <%= @event.sport.name.downcase %> hidden-xs hidden-sm"/>
    <img class="default64 <%= @event.sport.name.downcase %>64 visible-xs visible-sm"/>
</a>

<div class="media-body">

    <% if @event.is_upcoming? %>
        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <p>Starts:</p>
                    <h3 class="media-heading">
                        <small><%= fa_icon 'calendar fw' %></small> <%= @event.definitive_date.from.strftime("%a, %d. %b %Y") %>
                    </h3>
                    <h3 class="media-heading">
                        <small><%= fa_icon 'clock-o fw' %></small> <%= @event.definitive_date.from.strftime("%T") %>
                    </h3>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <p>Ends:</p>
                    <h3 class="media-heading">
                        <small><%= fa_icon 'calendar fw' %></small> <%= @event.definitive_date.to.strftime("%a, %d. %b %Y") %>
                    </h3>
                    <h3 class="media-heading">
                        <small><%= fa_icon 'clock-o fw' %></small> <%= @event.definitive_date.to.strftime("%T") %>
                    </h3>
                </div>
            </div>
        </div>
        <div>
            <%= button_to "Download Calendar File", event_path(@event, format: :ics), method: :get, class: "btn btn-info btn-sm"%>
        </div>
        <br/>
    <% end %>

    <p>
        <%= fa_icon 'tags fw' %> <%= @event.sport.name %> |
        <% if @event.is_passed? %>
            <%= fa_icon 'folder fw' %> Passed
        <% elsif @event.is_deadline_over? %>
            <%= fa_icon 'calendar fw' %> Upcoming
        <% else %>
            <%= fa_icon 'folder fw' %> Pending
        <% end %> |
        <%= fa_icon 'user fw' %> by <%= link_to @event.owner, user_path(@event.owner) %>
    </p>
    <p><%= @event.description %></p>

    <div class="social-likes">
        <div class="facebook" title="Share link on Facebook">Facebook</div>
        <div class="twitter" title="Share link on Twitter">Twitter</div>
        <div class="plusone" title="Share link on Google+">Google+</div>
        <div class="pinterest" title="Share image on Pinterest" data-media="">Pinterest</div>
    </div>

</div>

<hr>

<h3><%= fa_icon 'map-marker fw' %> Location</h3>
<p><%= @event.location %></p>
<% unless @event.event_data and @event.event_data.document %>
    <form>
        <input id="geocomplete" type="hidden" />
    </form>
    <div class="map_canvas location"></div>
<% end %>

<hr>

<% if @event.is_deadline_over? %>

    <h3><%= fa_icon 'users fw' %> Participants</h3>
    <% if @event.participants.empty? %>
        <p>Nobody wants to participate <%= fa_icon 'frown-o' %></p>
    <% else %>
        <div class="row">
            <%= render @event.participants %>
        </div>
    <% end %>

<% else %>

    <h3><%= fa_icon 'users fw' %> Invited Users</h3>
    <div class="row">
        <%= render @event.invitations %>
    </div>
    <% if @event.belongs_to?(current_user) %>
        <%= link_to new_event_invitation_path(@event) do %>
            <%= image_tag("plus.png") %>
        <% end %>
    <% end %>

    <hr>

    <h3><%= fa_icon 'calendar fw' %> Proposed Dates</h3>
    <p>You can assign to the proposed dates until <strong><%= @event.deadline.strftime("%A, %d. %B %Y at %R.") %></strong></p>
    <div class="row">
        <%= render @event.spoodle_dates %>
    </div>

<% end %>

<hr>


<% if @event.is_passed? %>
    <h3><%= fa_icon 'bar-chart fw' %> Event Data</h3>
    <% if @event.event_data %>
        <%= render 'event_datas/number_attribute_show', attribute_name: :duration, units: 'Minutes' %>
        <%= render 'event_datas/number_attribute_show', attribute_name: :distance, units: 'Meters' %>
        <%= render 'event_datas/number_attribute_show', attribute_name: :elevation_gain, units: 'Meters' %>
        <%= render 'event_datas/text_attribute_show', attribute_name: :party_1_name %>
        <%= render 'event_datas/text_attribute_show', attribute_name: :party_2_name %>
        <%= render 'event_datas/text_attribute_show', attribute_name: :winner_name %>
        <%= render 'event_datas/number_attribute_show', attribute_name: :rounds, units: 'Rounds'%>
        <%= render 'event_datas/number_attribute_show', attribute_name: :score_1, units: 'Points' %>
        <%= render 'event_datas/number_attribute_show', attribute_name: :score_2, units: 'Points' %>
        <%= render 'event_datas/number_attribute_show', attribute_name: :party_1_red_cards, units: 'Cards'%>
        <%= render 'event_datas/number_attribute_show', attribute_name: :party_2_red_cards, units: 'Cards'%>
        <%= render 'event_datas/number_attribute_show', attribute_name: :party_1_yellow_cards, units: 'Cards'%>
        <%= render 'event_datas/number_attribute_show', attribute_name: :party_2_yellow_cards, units: 'Cards'%>
        <%= render 'event_datas/number_attribute_show', attribute_name: :party_1_penalties, units: 'Penalties'%>
        <%= render 'event_datas/number_attribute_show', attribute_name: :party_2_penalties, units: 'Penalties'%>
        <% if @event.event_data and @event.event_data.document %>
            <h4>Map</h4>
            <div id="gps" class="map_canvas"></div>
        <% end %>
    <% end %>
    <% if @event.belongs_to?(current_user) %>
        <% unless @event.event_data %>
            <%= button_to "Enter Event Data", new_event_event_data_path(@event), method: :get, class: "btn btn-success" %>
        <% else %>
            <div style="float: left; width: auto;">
                <%= button_to 'Edit Event Data', edit_event_event_data_path(@event, @event.event_data), method: :get, class: "btn btn-info" %>
            </div>
            <div style="float: left; width: auto;"><p>&nbsp;</p></div>
            <div style="float: left; width: auto;">
                <%= link_to "Delete Event Data", event_event_data_path(@event, @event.event_data), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
            </div>
        <% end %>
    <% end %>
    <br/>
    <br/>
    <hr>
<% end %>

<% if @event.belongs_to?(current_user) %>
    <div style="float: left; width: auto;">
        <%= button_to 'Edit Event', edit_event_path(@event), method: :get, class: "btn btn-info" %>
    </div>
    <div style="float: left; width: auto;"><p>&nbsp;</p></div>
    <div style="float: left; width: auto;">
        <%= button_to 'Delete Event', event_path(@event), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
    </div>
    <br/>
    <br/>
    <br/>
<% end %>

<script>
    $(function(){
        <% if @event.event_data and @event.event_data.document %>
            var myOptions = {
                center: new google.maps.LatLng(39.397, -100.644),
                zoom: 4,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var gpsmap = new google.maps.Map(document.getElementById('gps'), myOptions);

            var geoXml = new geoXML3.parser({
                map: gpsmap,
                singleInfoWindow: true,
            });
            geoXml.parse('<%= event_event_data_document_path(@event, @event.event_data, @event.event_data.document) %>');
        <% else %>
            var options = {
                map: ".location",
                location: "<%= @event.location %>"
            };
            $("#geocomplete").geocomplete(options);
        <% end %>
    });
</script>

