<h1 class="page-header"><%= fa_icon 'upload fw' %> Upload KML file</h1>
<%= form_for([@event, @event_data, @document], class: "form-group") do |f| %>
    <p>
    <div>
        <%= f.file_field :file, accept: 'application/vnd.google-earth.kml+xml' %>
    </div>
    <p class="help-block">At this moment, only .kml files can be uploaded.</p>
    </p>
    <div style="float: left; width: auto;">
        <div><%= f.submit "Upload", class: "btn btn-success" %></div>
    </div>
<% end %>
<div style="float: right; width: auto;">
    <%= button_to 'Discard', @event, method: :get, class: "btn btn-warning" %>
</div>