<h1 class="page-header">Login</h1>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <p>
    <div><%= f.label 'Email or username' %><br />
        <%= f.text_field :login, autofocus: true, class: "form-control" %>
    </div>
    </p>
    <div><%= f.label :password %><br />
        <%= f.password_field :password, class: "form-control" %>
    </div>
    <div class="checkbox">
        <label>
            <%= f.check_box :remember_me %> Remember me
        </label>
    </div>
    <div style="float: left; width: auto;">
        <div><%= f.submit "Log in", class: "btn btn-success" %></div>
    </div>
<% end %>
<div style="float: left; padding-left: 5px">
  <%= button_to "Login with Facebook", user_omniauth_authorize_path(:facebook), method: :get, class: "btn btn-info" %>
</div>
<div style="float: right; width: auto;">
    <%= button_to 'Discard', unauthenticated_root_path, method: :get, class: "btn btn-warning" %>
</div>